<main>
  <div class="container">

    <mat-card class="movie-card">
      <div class="image-container">
        <img mat-card-image
          src="https://cdn.europosters.eu/image/750/posters/harry-potter-7-part-2-teaser-i11030.jpg"
          alt="Título do Filme">
        <div class="information">
          <mat-card-title>Book Hunter</mat-card-title>
          <mat-card-content>
            <p>
              É uma aplicação que usa a API do Google Books para buscas, utilizando o padrão Observer e a biblioteca
              RxJS.
            </p>
            <p>angular | typescript | material | bootstrap</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="getProjetc()">PROJETO</button>
            <a href="https://github.com/emersonbarrosdev" target="_blank">
              <button mat-button>GITHUB</button>
            </a>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>

    <mat-card class="movie-card">
      <div class="image-container">
        <img mat-card-image
          src="https://i.pinimg.com/originals/a7/a1/6d/a7a16d60d6b42e9ba9335341aef87d3d.jpg"
          alt="Título do Filme">
        <div class="information">
          <mat-card-title>Quiz Rock Band</mat-card-title>
          <mat-card-content>
            <p>
              É uma aplicação que usa a API do Google Books para buscas, utilizando o padrão Observer e a biblioteca
              RxJS.
            </p>
            <p>angular | typescript | material | bootstrap</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>PROJETO</button>
            <a href="https://github.com/emersonbarrosdev" target="_blank">
              <button mat-button>GITHUB</button>
            </a>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>

    <mat-card class="movie-card">
      <div class="image-container">
        <img mat-card-image
          src="https://cdn.awsli.com.br/299/299243/arquivos/capa%20goku.jpeg"
          alt="Título do Filme">
        <div class="information">
          <mat-card-title>Goku Run</mat-card-title>
          <mat-card-content>
            <p>
              É uma aplicação que usa a API do Google Books para buscas, utilizando o padrão Observer e a biblioteca
              RxJS.
            </p>
            <p>angular | typescript | material | bootstrap</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>PROJETO</button>
            <a href="https://github.com/emersonbarrosdev" target="_blank">
              <button mat-button>GITHUB</button>
            </a>
          </mat-card-actions>
        </div>
      </div>
    </mat-card>

  </div>
</main>
