main {
  width: 100%;
}

.mat-toolbar {
  color: #1D1D26;
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  z-index: 10;
  position: fixed;
  height: 64px;
}

mat-card-header {
  padding: 0;
  transition: transform 0.2s, box-shadow 0.2s;

  .brand{
    font-family: 'Cascadia Code', sans-serif;
    font-size: 1rem;
    display: flex;
    text-decoration: none;
    color: #1D1D26;
    align-items: center;
    padding-right: 3rem;
    transition: 0.5s ease;

    span{
      padding-left: 10px;
    }

    span:hover {
      color: #B3B3B3;
    }
  }

  .brand:hover {
    transform: scale(1.1);
  }

}

.mat-mdc-card-avatar {
  margin: 0;
}

.example-card {
  background: none;
  box-shadow: none;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.example-header-image {
  background-image: url('../../../../assets/img/perfil.png');
  background-size: cover;
  height: 40px;
  width: 40px;
}

.flex-left {
  display: flex;
  align-items: center;

  button:first-child {
    padding: 0 0 0 0.7rem;
  }
}

.flex-right {
  display: flex;
  align-items: center;
}

button {
  font-family: 'Cascadia Code', sans-serif;
  font-size: 1rem;
  padding: 0 1.5rem;
  background: none;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  color: #B3B3B3;
  background-color: none;
}

.active-button {
  background: #fff;
  height: 84px;
  border-radius: 0;
}

.mat-mdc-button,
.mat-mdc-outlined-button {
  --mat-mdc-button-persistent-ripple-color: none;
  --mat-mdc-button-ripple-color: none;
}

@media (max-width: 800px) {
  .mat-mdc-card-avatar {
   display: none;
  }

}

@media (max-width: 650px) {
  .mat-mdc-card-avatar {
   display: block;
  }

}

