<div id="home" class="container">
  <div class="left-half">
    <h1>PROJETOS SÓLIDOS <br>E MEMORÁVEIS</h1>
    <p>Com mais de dois anos de experiência, sou <br>
      apaixonado por criar soluções web com Angular e <br>
      TypeScript. Minha jornada é transformar ideias <br>
      em código sólido e funcional.</p>
      <h2>Emerson Barros</h2>
      <h3>Desenvolvedor Frontend</h3>
      <p>ANGULAR | TYPESCRIPT</p>
  </div>
  <div class="right-half">
    <img src="../../../assets/img/perfil.png" alt="photo">
  </div>
</div>
