<div id="home">
  <div id="overlay"></div>
  <div class="container">
    <div class="right-half" appPositionCard>
      <h1>Emerson Barros</h1>
        <h2>Desenvolvedor Web & Designer</h2>
        <mat-card-actions>
            <button routerLink="/contact" mat-button>CONTATO</button>
        </mat-card-actions>
    </div>
    <div class="left-half" appPositionCard>
      <h2>Curiosidades Dev Front</h2>
      <div class="curiosities">
        <h3>{{ currentCuriosity.title }}</h3>
        <p>{{ currentCuriosity.description }}</p>
      </div>
    </div>
  </div>
  <img src="../../../assets/img/home.jpg" alt="photo">
</div>
