.home-container {
  width: 100%;
  background-color: #43007d;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  position: fixed;
  top: 0;
}

p {
  color: #fff;
  font-size: 1.5rem;
  margin: 16px;
  font-weight: 600;
}