<div class="container">
  <div class="left-half">
    <h1>PROJETOS SÓLIDOS E MEMORÁVEIS</h1>
    <p>Com mais de dois anos de experiência, sou
      apaixonado por criar soluções web com Angular e
      TypeScript. Minha jornada é transformar ideias
      em código sólido e funcional.</p>
      <h2>Emerson Barros</h2>
      <h3>Desenvolvedor Frontend</h3>
      <h4>ANGULAR | TYPESCRIPT</h4>
  </div>
  <div class="right-half">
    <img src="../../../assets/perfil.png" alt="photo">
  </div>
</div>
