<div class="about">
  <div class="photo">
    <img src="../../../assets/img/perfil.jpg" alt="photo">
  </div>
  <div class="information">
    <h1>Olá! sou, Emerson Barros.</h1>
    <p>
      Desenvolvedor Angular desde 2021.
    </p>
    <p>
      Possuo formação em Análise e Desenvolvimento de Sistemas pela faculdade FIAP. Com experiência no desenvolvimento
      Front-End (fullstak), estou sempre em busca de crescimento e aprendizado contínuo.
    </p>
    <p>
      Ao longo dos anos, tive a oportunidade de trabalhar em projetos desafiadores e inspiradores, o que consolidou
      minhas habilidades em criar soluções que atendam às necessidades dos usuários.
    </p>
    <p>
      Além das habilidades técnicas, valorizo a importância da comunicação eficaz e do trabalho em equipe. Sou
      colaborativo e estou sempre pronto para compartilhar conhecimentos e aprender com colegas. Acredito que, através
      da colaboração, podemos impulsionar projetos a um nível superior e alcançar resultados excepcionais.
    </p>
    <p>
      Estou constantemente buscando oportunidades para me envolver em projetos significativos que possam fazer a
      diferença na vida das pessoas e contribuir positivamente para a sociedade. Além do trabalho, também participo
      ativamente de eventos e meetups de tecnologia para trocar experiências e conhecimentos com outros profissionais do
      setor.
    </p>
    <p class="last-paragraph">
      Estou aberto a novas conexões e interessado em oportunidades desafiadoras que me permitam aplicar minha
      criatividade e habilidades técnicas.
    </p>
  </div>
  <app-scroll-button></app-scroll-button>
</div>
