.container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 64px;
}

.left-half {
  flex: 1;
  margin-right: 1rem;
}

h1 {
  color: #FFEBBF;
  font-family: 'Cascadia Code', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  line-height: 2.7rem;
}

h2,h3, h4, p{
  color: #fff;
  font-family: 'Cascadia Code', sans-serif;
  margin: 0;
}

h2 {
  margin-top: 1rem;
}

h3 {
  font-weight: 100;
  font-size: 1.3rem;
}

p {
  margin-top: 0.3rem;
}

.right-half {
  flex: 1;
  justify-content: center;
  display: flex;
  margin-left: 1rem;
}

img {
  border-radius: 20px;
  max-width: 80%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
