@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");


* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", serif;
}

.mat-h2,
.mat-headline-6,
.mat-typography .mat-h2,
.mat-typography .mat-headline-6,
.mat-typography h2,
h1 {
  margin: 0;
}

.mat-mdc-button,
.mat-mdc-outlined-button {
  --mat-mdc-button-persistent-ripple-color: none;
  --mat-mdc-button-ripple-color: hsla(210, 50%, 40%, 0.1);
}
@media (max-width: 1200px) {
  .movie-card {
    width: 250px;
  }

  .banner {
    padding: 3rem 0;
  }

  .nav-links {
    font-size: 0.9rem;
  }

  .footer {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .banner .container {
    width: 90%;
  }

  .movie-card {
    width: 200px;
  }

  .footer {
    padding: 0.5rem;
  }
}

/**** Desabilitar a adaptação automática ao modo escuro ****/
:root {
  color-scheme: light; /* Força o modo claro no navegador */
}

/* Forçar o fundo e o texto claros */
html, body {
  background-color: white !important; /* Fundo branco fixo */
  color: black !important; /* Texto preto fixo */
}

/* Estilo fixo para a toolbar e componentes do Angular Material */
.mat-toolbar, .mat-menu-panel, .mat-card, .mat-dialog-container {
  background-color: white !important; /* Fundo branco fixo */
  color: black !important; /* Texto escuro fixo */
}


/* Prevenção de herança do modo dark */
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: white !important;
    color: black !important;
  }

}
