@import "~bootstrap-icons/font/bootstrap-icons.css";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

@font-face {
  src: url('./assets/fonts/ttf/CascadiaCode.ttf') format('ttf');
}

.mat-h2, .mat-headline-6, .mat-typography .mat-h2, .mat-typography .mat-headline-6, .mat-typography h2, h1 {
  margin: 0;
}

.mat-mdc-button, .mat-mdc-outlined-button {
  --mat-mdc-button-persistent-ripple-color: none;
  --mat-mdc-button-ripple-color: hsla(210, 50%, 40%, 0.1);
}
